In [7]:
import pandas as pd

df = pd.read_csv("../data/processed/apple_selected_financials.csv")
print(df.shape)
print(df.columns)
print(df.head(10))

(71, 26)
Index(['end', 'Assets', 'AssetsCurrent', 'AssetsNoncurrent',
       'CashAndCashEquivalentsAtCarryingValue', 'EarningsPerShareBasic',
       'EarningsPerShareDiluted', 'GrossProfit',
       'IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest',
       'IncomeTaxExpenseBenefit', 'Liabilities', 'LiabilitiesCurrent',
       'LiabilitiesNoncurrent', 'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'NetCashProvidedByUsedInOperatingActivities', 'NetIncomeLoss',
       'OperatingExpenses', 'OperatingIncomeLoss',
       'ResearchAndDevelopmentExpense',
       'RevenueFromContractWithCustomerExcludingAssessedTax', 'Revenues',
       'SalesRevenueNet', 'StockholdersEquity',
       'WeightedAverageNumberOfDilutedSharesOutstanding',
       'WeightedAverageNumberOfSharesOutstandingBasic'],
      dtype='object')
          end        Assets  AssetsCurrent  AssetsNoncurrent  \
0  2006-09-30           NaN            NaN               NaN
1  2007-09-29           NaN            NaN               NaN
2  2008-06-28           NaN            NaN               NaN
3  2008-09-27  3.617100e+10   3.231100e+10               NaN
4  2008-12-27           NaN            NaN               NaN
5  2009-03-28           NaN            NaN               NaN
6  2009-06-27  4.814000e+10   3.517000e+10               NaN
7  2009-09-26  4.750100e+10   3.626500e+10               NaN
8  2009-12-26  5.392600e+10   3.333200e+10               NaN
9  2010-03-27  5.705700e+10   3.233600e+10               NaN

   CashAndCashEquivalentsAtCarryingValue  EarningsPerShareBasic  \
0                           6.392000e+09                    NaN
1                           9.352000e+09                   4.04
2                           9.373000e+09                   1.21
3                           1.187500e+10                   5.48
4                           7.236000e+09                   2.54
5                           4.466000e+09                   1.82
6                           5.605000e+09                   2.05
7                           5.263000e+09                   6.39
8                           7.609000e+09                   3.74
9                           1.001800e+10                   3.39

   EarningsPerShareDiluted   GrossProfit  \
0                      NaN           NaN
1                     3.93  8.152000e+09
2                     1.19  2.600000e+09
3                     6.78  1.319700e+10
4                     2.50  4.507000e+09
5                     1.79  3.627000e+09
6                     2.01  3.023000e+09
7                     2.77  1.314000e+10
8                     3.67  6.411000e+09
9                     3.33  5.625000e+09

   IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN

   IncomeTaxExpenseBenefit  ...  NetIncomeLoss  OperatingExpenses  \
0                      NaN  ...            NaN                NaN
1             1.511000e+09  ...   3.496000e+09       3.745000e+09
2             1.615000e+09  ...   3.698000e+09       3.573000e+09
3             2.061000e+09  ...   6.119000e+09       4.870000e+09
4             1.004000e+09  ...   2.255000e+09       1.406000e+09
5             7.660000e+08  ...   1.620000e+09       2.710000e+09
6             8.640000e+08  ...   1.229000e+09       1.351000e+09
7             3.831000e+09  ...   8.235000e+09       5.482000e+09
8             1.380000e+09  ...   3.378000e+09       1.686000e+09
9             9.550000e+08  ...   6.452000e+09       1.646000e+09

   OperatingIncomeLoss  ResearchAndDevelopmentExpense  \
0                  NaN                            NaN
1         4.407000e+09                   7.820000e+08
2         4.833000e+09                   8.110000e+08
3         8.327000e+09                   1.109000e+09
4         3.101000e+09                   3.150000e+08
5         5.424000e+09                   3.190000e+08
6         2.632000e+09                   3.410000e+08
7         1.174000e+10                   1.333000e+09
8         4.725000e+09                   3.980000e+08
9         3.979000e+09                   8.240000e+08

   RevenueFromContractWithCustomerExcludingAssessedTax  Revenues  \
0                                                NaN         NaN
1                                                NaN         NaN
2                                                NaN         NaN
3                                                NaN         NaN
4                                                NaN         NaN
5                                                NaN         NaN
6                                                NaN         NaN
7                                                NaN         NaN
8                                                NaN         NaN
9                                                NaN         NaN

   SalesRevenueNet  StockholdersEquity  \
0              NaN        9.984000e+09
1     2.457800e+10        1.453100e+10
2     7.464000e+09                 NaN
3     3.247900e+10        2.229700e+10
4     1.188000e+10                 NaN
5     2.096400e+10                 NaN
6     9.734000e+09        2.588800e+10
7     4.290500e+10        3.164000e+10
8     1.568300e+10        3.576800e+10
9     2.918200e+10        3.934800e+10

   WeightedAverageNumberOfDilutedSharesOutstanding  \
0                                              NaN
1                                      889292000.0
2                                      901028000.0
3                                      902139000.0
4                                      901494000.0
5                                      902993000.0
6                                      909160000.0
7                                      907005000.0
8                                      919783000.0
9                                      922878000.0

   WeightedAverageNumberOfSharesOutstandingBasic
0                                            NaN
1                                    864595000.0
2                                    883738000.0
3                                    881592000.0
4                                    889142000.0
5                                    890161000.0
6                                    891345000.0
7                                    893016000.0
8                                    903542000.0
9                                    905545000.0

[10 rows x 26 columns]

In [8]:
df['end'] = pd.to_datetime(df['end'])
df = df.sort_values('end').reset_index(drop=True)
missing_summary = df.isna().sum()
print(missing_summary[missing_summary > 0])

Assets                                                                                          5
AssetsCurrent                                                                                   5
AssetsNoncurrent                                                                               42
EarningsPerShareBasic                                                                           1
EarningsPerShareDiluted                                                                         1
GrossProfit                                                                                     1
IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest    17
IncomeTaxExpenseBenefit                                                                         1
Liabilities                                                                                     5
LiabilitiesCurrent                                                                              5
LiabilitiesNoncurrent                                                                          42
NetCashProvidedByUsedInFinancingActivities                                                      8
NetCashProvidedByUsedInInvestingActivities                                                      8
NetCashProvidedByUsedInOperatingActivities                                                      8
NetIncomeLoss                                                                                   1
OperatingExpenses                                                                               1
OperatingIncomeLoss                                                                             1
ResearchAndDevelopmentExpense                                                                   1
RevenueFromContractWithCustomerExcludingAssessedTax                                            39
Revenues                                                                                       62
SalesRevenueNet                                                                                29
StockholdersEquity                                                                              3
WeightedAverageNumberOfDilutedSharesOutstanding                                                 1
WeightedAverageNumberOfSharesOutstandingBasic                                                   1
dtype: int64

In [10]:
import pandas as pd

# Load the file
df_rev = pd.read_csv("../data/processed/apple_revenue_tags.csv")

# Basic info
print("üìÑ Shape of dataset:", df_rev.shape)
print("üìù Columns:", df_rev.columns.tolist())

# Convert 'end' to datetime for consistency
df_rev['end'] = pd.to_datetime(df_rev['end'], errors='coerce')

# Check for duplicate rows (full row duplicates)
full_dupes = df_rev[df_rev.duplicated()]
print(f"üîÅ Number of full duplicate rows: {len(full_dupes)}")
if len(full_dupes) > 0:
    display(full_dupes)

# Check for duplicate dates (same 'end' with different values)
date_dupes = df_rev[df_rev.duplicated(subset=['end'], keep=False)].sort_values('end')
print(f"üìÜ Number of duplicate 'end' dates: {date_dupes['end'].nunique()}")
if not date_dupes.empty:
    display(date_dupes)

üìÑ Shape of dataset: (7378, 9)
üìù Columns: ['end', 'RevenueFromContractWithCustomerExcludingAssessedTax', 'Revenues', 'SalesRevenueNet', 'SalesRevenueServicesGross', 'ContractWithCustomerLiabilityRevenueRecognized', 'DeferredRevenueCurrent', 'DeferredRevenueNoncurrent', 'IncreaseDecreaseInDeferredRevenue']
üîÅ Number of full duplicate rows: 7163

,end,RevenueFromContractWithCustomerExcludingAssessedTax,Revenues,SalesRevenueNet,SalesRevenueServicesGross,ContractWithCustomerLiabilityRevenueRecognized,DeferredRevenueCurrent,DeferredRevenueNoncurrent,IncreaseDecreaseInDeferredRevenue
7,2008-09-27,NaN,NaN,3.749100e+10,NaN,NaN,4.853000e+09,3.029000e+09,7.180000e+08
9,2008-09-27,NaN,NaN,3.749100e+10,NaN,NaN,4.853000e+09,3.029000e+09,7.180000e+08
10,2008-09-27,NaN,NaN,3.749100e+10,NaN,NaN,4.853000e+09,3.029000e+09,7.180000e+08
11,2008-09-27,NaN,NaN,3.749100e+10,NaN,NaN,4.853000e+09,3.029000e+09,5.642000e+09
13,2008-09-27,NaN,NaN,3.749100e+10,NaN,NaN,1.617000e+09,7.680000e+08,7.180000e+08
...,...,...,...,...,...,...,...,...,...
7359,2024-06-29,8.577700e+10,NaN,NaN,NaN,6.541000e+09,NaN,NaN,NaN
7364,2024-06-29,2.961050e+11,NaN,NaN,NaN,3.400000e+09,NaN,NaN,NaN
7365,2024-06-29,2.961050e+11,NaN,NaN,NaN,6.541000e+09,NaN,NaN,NaN
7366,2024-06-29,2.961050e+11,NaN,NaN,NaN,6.500000e+09,NaN,NaN,NaN
7367,2024-06-29,2.961050e+11,NaN,NaN,NaN,3.405000e+09,NaN,NaN,NaN

üìÜ Number of duplicate 'end' dates: 68

,end,RevenueFromContractWithCustomerExcludingAssessedTax,Revenues,SalesRevenueNet,SalesRevenueServicesGross,ContractWithCustomerLiabilityRevenueRecognized,DeferredRevenueCurrent,DeferredRevenueNoncurrent,IncreaseDecreaseInDeferredRevenue
0,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,1.139000e+09
1,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,5.660000e+08
2,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,1.139000e+09
3,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,5.660000e+08
4,2008-06-28,NaN,NaN,2.458400e+10,NaN,NaN,NaN,NaN,1.823000e+09
...,...,...,...,...,...,...,...,...,...
7373,2025-03-29,9.535900e+10,NaN,NaN,NaN,3.672000e+09,NaN,NaN,NaN
7376,2025-06-28,9.403600e+10,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN
7374,2025-06-28,3.136950e+11,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN
7375,2025-06-28,3.136950e+11,NaN,NaN,NaN,4.015000e+09,NaN,NaN,NaN
7377,2025-06-28,9.403600e+10,NaN,NaN,NaN,4.015000e+09,NaN,NaN,NaN

In [11]:
# Remove exact duplicates
df_clean = df_rev.drop_duplicates()

print("After dropping duplicates:", df_clean.shape)

# Optional: Check for duplicate dates (e.g. multiple revenue entries on the same 'end' date)
dup_dates = df_clean[df_clean.duplicated(subset=['end'], keep=False)]
print("Duplicate dates shape:", dup_dates.shape)
dup_dates.head()

After dropping duplicates: (215, 9)
Duplicate dates shape: (194, 9)

,end,RevenueFromContractWithCustomerExcludingAssessedTax,Revenues,SalesRevenueNet,SalesRevenueServicesGross,ContractWithCustomerLiabilityRevenueRecognized,DeferredRevenueCurrent,DeferredRevenueNoncurrent,IncreaseDecreaseInDeferredRevenue
0,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,1.139000e+09
1,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,5.660000e+08
2,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,1.139000e+09
3,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,5.660000e+08
4,2008-06-28,NaN,NaN,2.458400e+10,NaN,NaN,NaN,NaN,1.823000e+09

In [12]:
dup_dates

,end,RevenueFromContractWithCustomerExcludingAssessedTax,Revenues,SalesRevenueNet,SalesRevenueServicesGross,ContractWithCustomerLiabilityRevenueRecognized,DeferredRevenueCurrent,DeferredRevenueNoncurrent,IncreaseDecreaseInDeferredRevenue
0,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,1.139000e+09
1,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,5.660000e+08
2,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,1.139000e+09
3,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,5.660000e+08
4,2008-06-28,NaN,NaN,2.458400e+10,NaN,NaN,NaN,NaN,1.823000e+09
...,...,...,...,...,...,...,...,...,...
7373,2025-03-29,9.535900e+10,NaN,NaN,NaN,3.672000e+09,NaN,NaN,NaN
7374,2025-06-28,3.136950e+11,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN
7375,2025-06-28,3.136950e+11,NaN,NaN,NaN,4.015000e+09,NaN,NaN,NaN
7376,2025-06-28,9.403600e+10,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN
7377,2025-06-28,9.403600e+10,NaN,NaN,NaN,4.015000e+09,NaN,NaN,NaN

In [13]:
df_clean

,end,RevenueFromContractWithCustomerExcludingAssessedTax,Revenues,SalesRevenueNet,SalesRevenueServicesGross,ContractWithCustomerLiabilityRevenueRecognized,DeferredRevenueCurrent,DeferredRevenueNoncurrent,IncreaseDecreaseInDeferredRevenue
0,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,1.139000e+09
1,2007-09-29,NaN,NaN,2.400600e+10,NaN,NaN,NaN,NaN,5.660000e+08
2,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,1.139000e+09
3,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,5.660000e+08
4,2008-06-28,NaN,NaN,2.458400e+10,NaN,NaN,NaN,NaN,1.823000e+09
...,...,...,...,...,...,...,...,...,...
7373,2025-03-29,9.535900e+10,NaN,NaN,NaN,3.672000e+09,NaN,NaN,NaN
7374,2025-06-28,3.136950e+11,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN
7375,2025-06-28,3.136950e+11,NaN,NaN,NaN,4.015000e+09,NaN,NaN,NaN
7376,2025-06-28,9.403600e+10,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN
7377,2025-06-28,9.403600e+10,NaN,NaN,NaN,4.015000e+09,NaN,NaN,NaN

In [ ]:
# Suppose df_revenue is the cleaned 215-row revenue dataset
df_clean['end'] = pd.to_datetime(df_clean['end'])

# Option 1: Keep only the last reported value per 'end' date
df_revenue_agg = df_clean.groupby('end').max().reset_index()

print("Aggregated revenue dataset shape:", df_revenue_agg.shape)

Aggregated revenue dataset shape: (70, 9)

/var/folders/x5/9y2gwd354cdc4c88h2mt60s80000gn/T/ipykernel_15506/3735220874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['end'] = pd.to_datetime(df_clean['end'])

In [16]:
df_revenue = df_clean.copy()   # make a real independent copy
df_revenue.loc[:, 'end'] = pd.to_datetime(df_revenue['end'])  # modify safely

df_revenue_agg = df_revenue.groupby('end').max().reset_index()
print("Aggregated revenue dataset shape:", df_revenue_agg.shape)

Aggregated revenue dataset shape: (70, 9)

In [17]:
df_revenue_agg

,end,RevenueFromContractWithCustomerExcludingAssessedTax,Revenues,SalesRevenueNet,SalesRevenueServicesGross,ContractWithCustomerLiabilityRevenueRecognized,DeferredRevenueCurrent,DeferredRevenueNoncurrent,IncreaseDecreaseInDeferredRevenue
0,2007-09-29,NaN,NaN,2.457800e+10,NaN,NaN,NaN,NaN,1.139000e+09
1,2008-06-28,NaN,NaN,2.458400e+10,NaN,NaN,NaN,NaN,1.823000e+09
2,2008-09-27,NaN,NaN,3.749100e+10,NaN,NaN,4.853000e+09,3.029000e+09,5.642000e+09
3,2008-12-27,NaN,NaN,1.188000e+10,NaN,NaN,NaN,NaN,2.000000e+08
4,2009-03-28,NaN,NaN,2.096400e+10,NaN,NaN,NaN,NaN,1.280000e+08
...,...,...,...,...,...,...,...,...,...
65,2024-06-29,2.961050e+11,NaN,NaN,NaN,6.541000e+09,NaN,NaN,NaN
66,2024-09-28,3.910350e+11,NaN,NaN,NaN,7.700000e+09,NaN,NaN,NaN
67,2024-12-28,1.243000e+11,NaN,NaN,NaN,3.700000e+09,NaN,NaN,NaN
68,2025-03-29,2.196590e+11,NaN,NaN,NaN,5.440000e+09,NaN,NaN,NaN
69,2025-06-28,3.136950e+11,NaN,NaN,NaN,6.958000e+09,NaN,NaN,NaN

In [18]:
# Show how many missing (NaN) values each column has
missing_summary = df_revenue_agg.isna().sum().sort_values(ascending=False)
print("üîç Missing values per column:\n")
print(missing_summary)

üîç Missing values per column:

SalesRevenueServicesGross                              69
Revenues                                               61
RevenueFromContractWithCustomerExcludingAssessedTax    38
ContractWithCustomerLiabilityRevenueRecognized         38
DeferredRevenueCurrent                                 31
DeferredRevenueNoncurrent                              31
SalesRevenueNet                                        28
IncreaseDecreaseInDeferredRevenue                      27
end                                                     0
dtype: int64

In [19]:
# Show how many missing (NaN) values each column has
missing_summary = df_clean.isna().sum().sort_values(ascending=False)
print("üîç Missing values per column:\n")
print(missing_summary)

üîç Missing values per column:

SalesRevenueServicesGross                              211
Revenues                                               183
RevenueFromContractWithCustomerExcludingAssessedTax    111
ContractWithCustomerLiabilityRevenueRecognized         111
DeferredRevenueCurrent                                  88
DeferredRevenueNoncurrent                               88
SalesRevenueNet                                         83
IncreaseDecreaseInDeferredRevenue                       79
end                                                      0
dtype: int64

In [21]:
df_rev.shape

(7378, 9)

In [22]:
# Show how many missing (NaN) values each column has
missing_summary = df_rev.isna().sum().sort_values(ascending=False)
print("üîç Missing values per column:\n")
print(missing_summary)

üîç Missing values per column:

SalesRevenueServicesGross                              7178
RevenueFromContractWithCustomerExcludingAssessedTax    6835
ContractWithCustomerLiabilityRevenueRecognized         6835
Revenues                                               6814
SalesRevenueNet                                         317
DeferredRevenueCurrent                                  316
DeferredRevenueNoncurrent                               316
IncreaseDecreaseInDeferredRevenue                       305
end                                                       0
dtype: int64